body {

  /*text-align: center;*/
}

h1 { /* Newsletter Title*/
  font-size: 150px;
  font-family: cursive;
  text-align: center;
  color: pink;
}
h2 { /* Site Directory & article titles*/
  font-size: 40px;
  padding-left: 18%;
  padding-right: 18%;
  font-family: "Times New Roman", Times, serif;
  text-align: center


}

h3 {  /* DJ Sad Image breaks in newsletter*/
  text-align: center;
}
 /* header image and page end email and daps*/
h4 {
  text-align: center;
}
h5 {  /* Scrolling Menu items */
  font-size: 15px;
  text-align: center;
  padding-top: 50px;
  font-family: Monaco;
  letter-spacing: inherit;
}
h6 { /* "by ..." */
  text-align: center;
  font-size: 30px;
  font-family: Monaco;
}
h7 { /* social links */
  text-align: center;
  font-size: 75px;
  font-family: Monaco;
}
p {
  font-size: 16px;
  font-family: Monaco;
  padding-left: 18%;
  padding-right: 18%;
}


/*
a:hover { color: rgb(255,200,200)}*/
a:hover { color: rgb(80,80,255)}

b:hover {color: rgb(0,150,255)}

#page {
  height: 200vh;
  /*width: width;*/
  background: none;
}

#stuff {
  height: 1vh;
  /*border: 3px solid black;*/
  /*background-image: url("DJ_Sad_2.jpg");*/
   /*background-repeat: repeat-x;*/
   background-repeat: ;
}





nav {
  position: sticky;
  top: 3vh;
  height: 450px;
  background: white;
  border: 3px solid black;
  width: 15%;
  padding-left: 3px;
  padding-right: 3px;
}

img { image-orientation: from-image; }

iframe{ align-items: center;}
